#  Exercises: Day 7

### Exercises: Level 1

In [20]:
it_companies = {'Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon'}
A = {19, 22, 24, 20, 25, 26}
B = {19, 22, 20, 25, 26, 24, 28, 27}
age = [22, 19, 24, 25, 26, 24, 25, 24]

In [21]:
# no 1

print(len(it_companies))

7

In [22]:
# no 2
it_companies.add('twitter')
it_companies

{'Amazon',
 'Apple',
 'Facebook',
 'Google',
 'IBM',
 'Microsoft',
 'Oracle',
 'twitter'}

In [23]:
# no 3

it_companies.update('Avo', 'ITTA', 'LOLO IT')
it_companies

{' ',
 'A',
 'Amazon',
 'Apple',
 'Facebook',
 'Google',
 'I',
 'IBM',
 'L',
 'Microsoft',
 'O',
 'Oracle',
 'T',
 'o',
 'twitter',
 'v'}

In [24]:
# no 4

it_companies.remove('IBM')
it_companies

{' ',
 'A',
 'Amazon',
 'Apple',
 'Facebook',
 'Google',
 'I',
 'L',
 'Microsoft',
 'O',
 'Oracle',
 'T',
 'o',
 'twitter',
 'v'}

# no 5
The discard() method removes the specified item from the set.
This method is different from the remove() 
method because the remove() method will raise an error if the specified item does not exist, 
and the discard() method will not.

# Exercises: Level 2

In [25]:
# no 1

C = A.union(B)
C

{19, 20, 22, 24, 25, 26, 27, 28}

In [26]:
# no 2

A.intersection(B)

{19, 20, 22, 24, 25, 26}

In [27]:
# no 3

A.issubset(B)

True

In [28]:
# no 4
A.isdisjoint(B)

False

In [29]:
A.symmetric_difference(B)

{27, 28}

In [30]:
del(it_companies)
del(A)
del(B)
del(age)

# Exercises: Level 3

In [33]:
# no 1

age = [22, 19, 24, 25, 26, 24, 25, 24]

new_list = set(age)
new_list

In [34]:
len(new_list) == len(age)

False

In [35]:
len(new_list)

5

In [36]:
len(age)

8

lenght of age is bigger

In [38]:
# no 3
word = 'I am a teacher and I love to inspire and teach people'
world_list = word.split()

world_list

['I',
 'am',
 'a',
 'teacher',
 'and',
 'I',
 'love',
 'to',
 'inspire',
 'and',
 'teach',
 'people']