# Exercises: Day 10

# Exercises: Level

In [4]:
# no 1
# for loop

for i in range(11):
    print(i)

0
1
2
3
4
5
6
7
8
9
10

In [3]:

# while loop
x = 0
while x <= 10:
    print(x)
    x += 1

0
1
2
3
4
5
6
7
8
9
10

In [6]:
# no 2

for i in range(10, 0):
    print(i)

In [2]:
y = 10

while 10 <= 0:
    print(i)
    y -= 1

In [3]:
for i in range(10):
    print('#' * i)

#
##
###
####
#####
######
#######
########
#########

In [7]:
# no 3
lst = [8, 8, 8, 8, 8, 8, 8, 8]
for x in lst:
    print(x * ' #')

 # # # # # # # #
 # # # # # # # #
 # # # # # # # #
 # # # # # # # #
 # # # # # # # #
 # # # # # # # #
 # # # # # # # #
 # # # # # # # #

In [8]:
# no 6
lst = ['Python', 'Numpy','Pandas','Django', 'Flask']
for i in lst:
    print(i)

Python
Numpy
Pandas
Django
Flask

In [10]:
# no 7

for i in range(100):
    if i % 2 == 0:
        print(i)

0
2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50
52
54
56
58
60
62
64
66
68
70
72
74
76
78
80
82
84
86
88
90
92
94
96
98

In [13]:
# no 7

for i in range(100):
    if i % 2 == 1:
        print(i)

1
3
5
7
9
11
13
15
17
19
21
23
25
27
29
31
33
35
37
39
41
43
45
47
49
51
53
55
57
59
61
63
65
67
69
71
73
75
77
79
81
83
85
87
89
91
93
95
97
99

# Exercises: Level 2

In [16]:
# no 1
total = 0

for i in range(101):
    total += i
    
print('The sum of all numbers is ', total)

total sum is  5050

In [19]:
# no 2
even_total = 0
for i in range(101):
    if i % 2 ==0:
        even_total += i
        
print('The sum of all evens is ', even_total)

The sum of all evens is  2550

In [21]:
odd_total = 0
for i in range(101):
    if i % 2 ==1:
        odd_total += i
        
print('The sum of all evens is ', odd_total)

The sum of all evens is  2500

In [22]:
# no 3
my_list=['banana', 'orange', 'mango', 'lemon']
new_list=[]
for i in range(len(my_list)):
    new_list.insert(i,my_list[-1])
    my_list.pop(-1)

print(new_list)

['lemon', 'mango', 'orange', 'banana']