# Exercises: Day 8

In [1]:
# no 1
dog = {}

In [3]:
# no 2
dog["name"] = "bingo"
dog

{'name': 'bingo'}

In [4]:
dog["color"] = "red"
dog

{'name': 'bingo', 'color': 'red'}

In [5]:
dog["breed"] = "normal"
dog

{'name': 'bingo', 'color': 'red', 'breed': 'normal'}

In [6]:
dog["leg"] = "short"
dog

{'name': 'bingo', 'color': 'red', 'breed': 'normal', 'leg': 'short'}

In [7]:
dog["age"] = 2
dog

{'name': 'bingo', 'color': 'red', 'breed': 'normal', 'leg': 'short', 'age': 2}

In [8]:
print(dog)

{'name': 'bingo', 'color': 'red', 'breed': 'normal', 'leg': 'short', 'age': 2}

In [2]:
#first_name, last_name, gender, age, marital status, skills, country, city and address as keys for the dictionary
# no 3

student = {
    'first_name': 'mussa',
    'last_name': 'mohammed',
    'gender': 'male',
    'age': 18,
    'marital status': 'married',
    'skill': 'engineer',
    'country': 'Nigeria',
    'city': 'bauchi',
    'address': 'fadama mada'
}
student

{'first_name': 'mussa',
 'last_name': 'mohammed',
 'gender': 'male',
 'age': 18,
 'marital status': 'married',
 'skill': 'engineer',
 'country': 'Nigeria',
 'city': 'bauchi',
 'address': 'fadama mada'}

In [3]:
# no 4
len(student)

9

In [4]:
# no 5
type(student['age'])

int

In [5]:
# no 6
student['skill'] = ['engineer','programmer', 'system engineer']
student

{'first_name': 'mussa',
 'last_name': 'mohammed',
 'gender': 'male',
 'age': 18,
 'marital status': 'married',
 'skill': ['engineer', 'programmer', 'system engineer'],
 'country': 'Nigeria',
 'city': 'bauchi',
 'address': 'fadama mada'}

In [6]:
# no 7
list(student.keys())

['first_name',
 'last_name',
 'gender',
 'age',
 'marital status',
 'skill',
 'country',
 'city',
 'address']

In [7]:
# no 8
list(student.values())

['mussa',
 'mohammed',
 'male',
 18,
 'married',
 ['engineer', 'programmer', 'system engineer'],
 'Nigeria',
 'bauchi',
 'fadama mada']

In [8]:
# no 9
= tuple(student.items())
my_tuple

(('first_name', 'mussa'),
 ('last_name', 'mohammed'),
 ('gender', 'male'),
 ('age', 18),
 ('marital status', 'married'),
 ('skill', ['engineer', 'programmer', 'system engineer']),
 ('country', 'Nigeria'),
 ('city', 'bauchi'),
 ('address', 'fadama mada'))

In [9]:
# no 10
del(student['city'])

In [10]:
student

{'first_name': 'mussa',
 'last_name': 'mohammed',
 'gender': 'male',
 'age': 18,
 'marital status': 'married',
 'skill': ['engineer', 'programmer', 'system engineer'],
 'country': 'Nigeria',
 'address': 'fadama mada'}

In [11]:
# no 11
del(student)

In [12]:
student

NameError: name 'student' is not defined